EB_CF94SO/CF94SO_0924/iskola.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT iskola (tanar, tantargy)>
<!ELEMENT tanar (nev,szak)>
<!ATTLIST tanar
id ID #REQUIRED
>
<!ELEMENT nev (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ELEMENT tantargy (tnev, osztaly)>
<!ATTLIST tantargy
id ID #REQUIRED
Tid IDREF #IMPLIED
>
<!ELEMENT tnev (#PCDATA)>
<!ELEMENT osztaly (#PCDATA)>


